h1 span{
  background-color: rgba(200, 0, 0, 0.8);
  border: solid black;
  font-size: 50px;
}
.sub-title span{
  border: solid black;
  background-color: rgba(200, 0, 0, 0.8);
  font-size: 35px;
}
body {
  background: url(http://cdn.meme.am/instances/60188453.jpg)
}


h3 span{
  border: solid black;
  background-color: rgba(200, 0, 0, 0.8);
  font-size: 25px;
}

.btn-large{
  margin-top: 20px;
  width: 100px;
  border: solid black
}
