<form action="/skills" method="post">
  <div class="sub-title">
    <p> <span>Enter a new skill:</span></p>
  </div>
  <input type='text' name='skill[name]'/><br/>
  <textarea name='skill[status]'></textarea><br/>
  <input type='submit'/>
</form>
